// Variables
@import "variables";

@import "~normalize-scss/sass/normalize/import-now";

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    box-sizing: border-box;
    background: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.page {
    background: rgba(0, 86, 159, .1);
    display: flex;
}

h1, .h1 {
    font-size: 36px;
    span {
        color: $dark-blue;
    }
}

.headline-maker {
    width: 100%;
    min-height: 100%;
    padding: 31px 0;
    background: $dark-blue;
    color: white;

    form {
        margin: 0 auto;
        width: 90%;
    }

    fieldset {
        margin: 12px 0 0 0;
        padding: 0;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-width: 1px;
        border-color: rgba(255, 255, 255, .2);
    }

    legend {
        margin: 0 0 20px 0;
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }

    .input-wrapper {
        margin: 10px 0 10px 0;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    .input {
        width: 100%;
        display: block;
        font-size: 20px;
    }

    .input--rounded {
        border-radius: 3px;
    }

    .input--text,
    .input--select {
        height: 34px;
    }

    .input--text {
        box-sizing: border-box;
        padding: 8px;
        border: none;
        color: $dark-blue;
    }
    .input--text::placeholder {
        color: $dark-blue;
    }

    .input--select {
        padding: 8px;
        background: white;
        border: none;
        color: $dark-blue;
    }
}

.headline-maker__text {}

/**
 * Preview
 */
.preview-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
}
.preview {
    width: 64.9484536082474%;
    background: white;
    box-shadow: 0 30px 30px rgba(0, 86, 159, .2);
}
.preview__inner {
    margin: 23px auto;
    width: 74.6031746031746%;
}
.preview__headline {
    text-align: center;
    font-size: 14px;
    color: $dark-blue;
    display: block;
    text-transform: uppercase;
}
.preview__attachment-placeholder {
    background: $dark-blue;
    color: white;
    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }
}


/**
 *
 * Headline
 *
 */

.headline__header {
    background: $dark-blue;
    svg {
        margin: 0 auto;
        display: block;
    }
}

/**
 * Icons
 */
.icon-group {
    margin: 0;
    padding: 0;
    display: flex;
}
.icon-group__icon {
    list-style-type: none;
    flex: 1 100%;
    label {
        min-height: 90px;
        background: $dimmed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $dark-blue;
        cursor: pointer;
    }
    &:first-child label {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &:last-child label {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    svg {
        margin-bottom: 10px;
    }
    input[type="radio"] {
        display: none;
    }
}
.icon-group__icon--selected {
    label {
        background: white;
    }
}
.icon-group__icon label:hover,
.icon-group__icon--selected label {
    background: white;
}

/**
 * Attachment
 */
.attachment--video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
        border: none;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.button {
    padding: 12px 0 11px 0;
    width: 100%;
    background: $yellow;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.logo__wrapper {
    svg {
        display: block;
        margin: 0 auto 28px auto;
    }
}

.vh {
    min-height: 100vh;
}
.widescreen {
    @include aspect-ratio(16, 9);
}

@import "mq";