// Variables
@import "variables";

@import "~normalize-scss/sass/normalize/import-now";

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.page {
    height: 100%;
    background: rgba(0, 86, 159, .1);
}

.headline-maker {
    padding: 31px 0;
    background: $dark-blue;
    color: white;

    form {
        margin: 0 auto;
        width: 90%;
    }

    fieldset {
        margin-top: 12px;
        padding: 0;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-width: 1px;
        border-color: rgba(255, 255, 255, .2);
    }

    legend {
        margin: 0 0 20px 0;
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }

    label,
    input[type="text"],
    select {
        margin-bottom: 10px;
        width: 100%;
        display: block;
        font-size: 20px;
    }

    input[type="text"],
    select {
        height: 34px;
    }

    input[type="text"] {
        box-sizing: border-box;
        padding: 8px;
        border: none;
        color: $dark-blue;
    }
    input[type="text"]::placeholder {
        color: $dark-blue;
    }

    select {
        padding: 8px;
        background: white;
        border: none;
        color: $dark-blue;
    }
}

.headline-maker__text {}

.icon-group {
    margin: 0;
    padding: 0;
    display: flex;
}
.icon-group__icon {
    list-style-type: none;
    flex: 1 100%;
    label {
        min-height: 90px;
        background: $dimmed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $dark-blue;
        cursor: pointer;
    }
    svg {
        margin-bottom: 10px;
    }
    input[type="radio"] {
        display: none;
    }
}
.icon-group__icon label:hover,
.icon-group__icon--selected label {
    background: white;
}

.button {
    padding: 12px 0 11px 0;
    width: 100%;
    background: $yellow;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.logo__wrapper {
    svg {
        display: block;
        margin: 0 auto 28px auto;
    }
}