/**
 * Colors
 */
$blue: #00569f;
$yellow: #f3e103;
$red: #ff0b14;
$lightGrey: #f5f5f5;

/**
 * Bootstrap
 */
$brand-primary: $blue;
$btn-success-bg: $blue;
$btn-success-color: #fff;
$panel-default-heading-bg: $blue;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/**
 * Fonts
 */
$font: "museo-sans-condensed";
.wf-active {
	body {
		font-family: $font;
	}
	h1,
	h2,
	h3,
	label {
		font-family: $font;
		font-weight: 700;
	}
	.main-menu a {
		font-family: $font;
	}	
}

/**
 * Globals
 */
body {
	padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
	text-align: center;
}
h2 {
	font-size: 25px;
}
hr {
	border-top: 1px solid $blue;
}
.table {
	display: table;
	height: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}

/**
 * Header
 */
header {
	background: $blue;
}
header[role="banner"] {
	margin-bottom: 27px;
	height: 82px;
	@media (min-width: 768px) {
		height: 94px;
		margin-bottom: 57px;
	}
}
.logo {
	margin: 14px auto 0;
	width: 160px;
	display: block;
}
.main-menu {
	margin: 0 auto;
	width: 506px;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		width: 166px;
		height: 112px;
		display: inline-block;
		text-align: center;
		&:hover {
			background: #004987;
		}
	}
	a {
		text-transform: uppercase;
		color: white;
	}
}

/**
 * Create headline
 */
.create-headline {
	padding: 10px;
	background: $lightGrey;
	h2 input {
        margin: 8px 0;
        padding: 4px;
		width: 100%;
		display: block;
	}
	.form-control {
		margin-bottom: 10px;
	}
}
.loading {
	background: transparent url("/img/loader.svg") right center no-repeat;
	background-size: contain;
}
.preview-container {
	padding: 20px 0;
	background: $blue;
	display: none;
	.logo {
		margin: 0 auto 10px;		
	}
	@media (min-width: $screen-sm-min) {
		display: block;
	}
}
#preview {
	padding: 0 20px 20px;
	background: white;
	overflow: hidden;
}
.preview-placeholder {
	color: $red;
}
.attachment-placeholder {
	height: 250px;
	background: $blue;
	h2 {
		text-align: center;
		color: #fff;
	}
}


/**
 * Headline
 */
.headline {
	h1 {
		margin-top: 0;
		text-align: left;
	}
}
.panel {
	box-shadow: none;
	border: none;
}
.panel-heading {
	border-radius: 3px;
	border: none;
}
.panel-heading,
.panel-title {
	color: white;
}
.panel-title {
	text-align: center;
	a {
		display: block;
	}
}
.panel-body {
	background: $lightGrey;
}



